@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  /* Primary */
  --primary-moderate-violet: hsl(263, 55%, 52%);
  --primary-dark-grayish-blue: hsl(217, 19%, 35%);
  --primary-dark-blackish-blue: hsl(219, 29%, 14%);
  --primary-white: hsl(0, 0%, 100%);

  /* Neutral */
  --neutral-light-gray: hsl(0, 0%, 81%);
  --neutral-light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.3rem;
  background-color: var(--neutral-light-grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1,
h3 {
  font-weight: 600;
}

p {
  font-weight: 500;
}

#box-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 2.5rem;
  padding: 6rem 0;
  width: 90vw;
}

#box-container h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

#box-container p,
#box-container blockquote {
  line-height: 1.6;
}

.boxes {
  border-radius: 1rem;
  padding: 2.5rem 3.8rem;
}

.boxes img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 2rem;
}

blockquote {
  opacity: 70%;
}

.user {
  display: flex;
  align-items: center;
}

.box-1 img {
  border: 3px solid hsla(0, 0%, 100%, 0.4);
}

.box-4 img {
  border: 3px solid var(--primary-moderate-violet);
}

.user-info > p {
  opacity: 50%;
}

.box-3 h1,
.box-3 h3,
.box-5 h1,
.box-5 h3 {
  color: var(--primary-dark-grayish-blue);
}

.box-1 {
  color: var(--primary-white);
  background: var(--primary-moderate-violet)
    url(./images/bg-pattern-quotation.svg) no-repeat;
  background-position-x: 90%;
}

.box-2 {
  background-color: var(--primary-dark-grayish-blue);
  color: var(--primary-white);
}

.box-3 {
  background-color: var(--primary-white);
}

.box-4 {
  background-color: var(--primary-dark-blackish-blue);
  color: var(--primary-white);
}

.box-5 {
  background-color: var(--primary-white);
  box-shadow: 1px 25px 30px rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) and (max-width: 1023px) {
  #box-container {
    grid-template-areas:
      'box-1 box-1 box-2 box-2'
      'box-1 box-1 box-2 box-2'
      'box-3 box-3 box-4 box-4'
      'box-5 box-5 box-5 box-5';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 90vw;
    align-items: stretch;
  }

  .box-1 {
    grid-area: box-1;
  }

  .box-1 blockquote {
    width: auto;
  }

  .box-2 {
    grid-area: box-2;
  }
  .box-3 {
    grid-area: box-3;
    box-shadow: 1px 25px 30px rgba(0, 0, 0, 0.1);
  }
  .box-4 {
    grid-area: box-4;
  }
  .box-5 {
    grid-area: box-5;
  }
}

@media (min-width: 1024px) and (max-width: 1299px) {
  #box-container {
    grid-template-areas:
      'box-1 box-1 box-1 box-5 box-5'
      'box-2 box-2 box-2 box-5 box-5'
      'box-3 box-3 box-3 box-5 box-5'
      'box-4 box-4 box-4 box-5 box-5';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 80vw;
    align-items: stretch;
  }

  .box-1 {
    grid-area: box-1;
  }

  .box-2 {
    grid-area: box-2;
  }
  .box-3 {
    grid-area: box-3;
    box-shadow: 1px 25px 30px rgba(0, 0, 0, 0.1);
  }
  .box-4 {
    grid-area: box-4;
  }
  .box-5 {
    grid-area: box-5;
  }
}

@media screen and (min-width: 1300px) {
  #box-container {
    grid-template-areas:
      'box-1 box-1 box-2 box-5'
      'box-3 box-4 box-4 box-5';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 75vw;
    align-items: stretch;
  }

  .box-1 {
    grid-area: box-1;
    background-position-x: 80%;
  }

  .box-1 blockquote {
    width: auto;
  }

  .box-2 {
    grid-area: box-2;
  }
  .box-3 {
    grid-area: box-3;
    box-shadow: 1px 25px 30px rgba(0, 0, 0, 0.1);
  }
  .box-4 {
    grid-area: box-4;
  }
  .box-5 {
    grid-area: box-5;
  }
}
